* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.keras binary
*.onnx binary
*.pdf binary
*.png binary
*.pt binary
*.webp binary
